{% extends "users/base.html" %}
{% load staticfiles %}


    
{% block title %}
    NJATH RULES
{% endblock title %}

{% block files %}
    <link href="{% static 'css/rules.css' %}" rel="stylesheet" type="text/css" />
{% endblock files %}


{% block navigation_bar %}
    {% if request.user.is_authenticated %}
        <a href="{% url 'game:profile' %}" >
            <span>Profile</span>
            <span>Resume the HUNT!</span>
        </a>
        <a href="{% url 'users:logout' %}?next={% url 'game:rules' %}">
            <span>Logout</span>
            <span>Get out of Game!</span>
        </a>
        <a href="{% url 'users:change_password' %}">
            <span>Change Passwd</span>
            <span>Bored of Previous Passwd</span>
        </a>
    {% else %}
        <a href="{% url 'users:login' %}?next={% url 'game:rules' %}" >
            <span>Login</span>
            <span>Start the Awesome</span>
        </a>
        <a href="{% url 'users:register' %}">
            <span>Register</span>
            <span>New to the challenge ?</span>
        </a>
    {% endif %}
     <a href="{% url 'game:leaderboard' %}" >
        <span>Leaderboard</span>
        <span>View the Leaderboard</span>
    </a>
{% endblock navigation_bar %}


{% block content %}    
    <div id="rules-content">
    <h2>Rules for the contest</h2>

    <ol id="rules-list">
        <li> <p> NJATH is an online treasure-hunt contest conducted during Anwesha. You will be given questions, and you have to decipher the solution. Be careful with spellings and answers to questions. </p> </li> 
        <li> <p> Look out for clues and hints everywhere including the URL of the page, the page source and all the details provided in the question. You can use Google, Wikipedia or anything else for help. </p> </li> 
        <li> <p> Only answers as alpha-numeric characters in lower case (a-z, 0-9) are allowed. e.g. Suppose your answer is “I Love NJATH”, then write it as “ilovenjath”. In case of dates like 31st Jan 2016, write 31012016. </p> </li> 
        <!-- <li> <p> Use Anwesha ID and password only while registering.</p> </li> -->
        <li> <p> Stay tuned on the Discussion forum on our FB page for getting hints. </p> </li> 
        <li> <p> Users providing answers or direct link in any form through any medium will be disqualified. </p> </li>
		<li> <p> There is a Total Score which denotes the players game score so far. There is also a Level Score which will be used for opening questions. </p> </li>
		<li> <p> Opening a question reduces Level Score. No more questions can be opened once the level score drops to zero. Solving questions increments Total Score as well as Level Score. </p> </li>
        <li> <p> There are 6 levels in the hunt. Each level contains 8 questions of which at least 6 need to be answered to advance to the next level. </p> </li> 
        <li> <p> The remaining 2 questions serve as bonus questions. Bonus questions provide more points than ordinary questions of that level.</p> </li> 
        <li> <p> Your profile page will contain a list of all questions at the current level, each highlighted differently - unopened in blue, opened in yellow and solved in green. </p> </li> 
        <li> <p> Each question tag also contains information about scoring system. </p></li> 
        <li> <p> Once you advance to the next level, you can't go back. </p></li> 
        <li> <p> Bonus questions if opened have to be solved in order to move to the next level, otherwise a heavy penalty will be imposed on the score. </p> </li> 
        <li> <p> Each player starts off with a score of 40x(level no.), in each level. You will be awarded scores for correct answers.  </p> </li> 
        <li> <p> You will have to pay score costs for opening questions, which will be deducted from level score and not from total score so choose wisely! The level score at no point of time can fall below zero! </p> </li> 
        <li> <p> The player who has the maximum points at the end is the Winner. </p></li>
        

    </ol>
    </div>
{% endblock content %}