{% extends "users/base.html" %}
{% load staticfiles%}

{% block title %}
	404 NOT FOUND
{% endblock title %}

{% block navigation_bar %}
	{% if request.user.is_authenticated %}
	    <a href="{% url 'users:login' %}" >
	        <span>Login</span>
	        <span>Start the Awesome</span>
	    </a>

	    <a href="{% url 'users:register' %}">
	        <span>Register</span>
	        <span>New to the challenge ?</span>
	    </a>
    {% else %}
	    <a href="{% url 'game:profile' %}">
	        <span>Profile</span>
	        <span>Your Homepage</span>
	    </a>
	    <a href="{% url 'users:logout' %}">
	        <span>Logout</span>
	        <span>Get out of Game!</span>
	    </a>
    {% endif %}
    <a href="{% url 'game:rules' %}">
        <span>Rules</span>
        <span>The law of the Land!!!</span>
    </a>

    <a href="{% url 'game:leaderboard' %}">
        <span>Leaderboard</span>
        <span>View the Leaderboard</span>
    </a>
{% endblock navigation_bar %}



{% block content %}
	<br><br><br>
	<div class='not_found_error'>
	<h1>
	{% if message %} 
		{{ message }}
	{% else %}
		Link not found
	{% endif %} 
	</h1>
	</div>
{% endblock content %}