{% extends "users/base.html" %}
{% load staticfiles%}


{% block title %}
    Njath 2016 Password reset
{% endblock title %}

{% block files %}
    <script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="{% static 'js/change_password.js' %}"></script>
    <link href="{% static 'css/register.css' %}" type="text/css" rel="stylesheet" />
{% endblock files %}

{% block navigation_bar %}
    {% if request.user.is_authenticated %}
        <a href="{% url 'game:profile' %}">
            <span>Profile</span>
            <span>Your Homepage</span>
        </a>
        <a href="{% url 'users:logout' %}">
            <span>Logout</span>
            <span>Get out of Game!</span>
        </a>
    {% else %}
        <a href="{% url 'users:login' %}" >
            <span>Login</span>
            <span>Start the Awesome</span>
        </a>

        <a href="{% url 'users:register' %}">
            <span>Register</span>
            <span>New to the challenge ?</span>
        </a>
    {% endif %}
    <a href="{% url 'game:rules' %}">
        <span>Rules</span>
        <span>The law of the Land!!!</span>
    </a>

    <a href="{% url 'game:leaderboard' %}">
        <span>Leaderboard</span>
        <span>View the Leaderboard</span>
    </a>
{% endblock navigation_bar %}

{% block content %}
<div id="wrapper">
    <form  id="register" method="post"> 
        <h1> Change Password </h1>
        <span id="error_password" style="color:red"></span>
        <span id="successful_changed_password" align='center' style="color:blue"></span>
        
        <p>
            <label for="usernamesignup">
                Username<span class="asteriskField"> : </span> 
            </label> 
                <!-- <input id="usernamesignup" maxlength="30" name="username" type="text" placeholder="eg. thejoker69"/> -->
            <label for="usernamesignup">
                <span id="username">{{username}}</span>
            </label> 
                <!-- <span id="error_username" style="color:red"></span> -->
        </p>

        {% if request.user.is_authenticated %}
            <p>
                <label for="anweshasignup" class="anwesha">
                        Current Password<span class="asteriskField">*</span>
                </label> 
                    <input id="usernamesignup" name="current_password" type="Password" placeholder="current password" />
                <span id="error_current_password" style="color:red"></span>
            </p>
        {% endif %}

        <p>
            <label for="passwordsignup" >
                New Password<span class="asteriskField">*</span>
            </label>
                <input id="anweshasignup" name="new_password" type="password" placeholder="eg. X8df!90EO" />
                <span id="error_new_password" style="color:red"></span>
        </p>

        <p>
            <label for="id_confirm_password" >
                Confirm New Password<span class="asteriskField">*</span>
            </label>
                <input class="confirmpasswordinput" id="id_confirm_password" type="password" name="new_confirm_password" placeholder="same as above"> 
                <span id="error_matching" style="color:red"></span>
        </p>
        <div class="g-recaptcha" data-sitekey="{{recaptcha_public_key}}"></div>

        {% csrf_token %}

        <p class="signin button">
        <input type="button" class="btn btn-primary" value="Submit" onclick="password_check()">
        </p>
        
    </form>
</div>

{% endblock content %}